<%= erb :_song, {}, {:song => @current, :current => true} %>

<% if @page %>
  <a href="?page=<%= @page - 1 %>">Previous</a>
  <a href="?page=<%= @page + 1 %>">Next</a>
<% end %>

<% @songs.each_with_index do |song,ix| %>
  <%= erb :_song, {}, {:song => song} %>
<% end %>

<% if @songs.empty? %>
  <div class="content">
    No more songs found!
  </div>
<% end %>

<% if @page %>
  <a href="?page=<%= @page - 1 %>">Previous</a>
  <a href="?page=<%= @page + 1 %>">Next</a>
<% end %>

