<%= erb :_song, {}, {:song => @current, :current => true} %>


<% ('a'..'z').each do |e| %>
  <% if library_by_first_letter_of_artist.has_key?(e) %>
  <a href="?artist=<%= e %>" 
      style='font-weight:bold;text-transform:uppercase'><%= e %></a>
  <% else %>
  <span><%= e %></span>
  <% end %>
<% end %>

<% @songs.each_with_index do |song,ix| %>
  <%= erb :_song, {}, {:song => song} %>
<% end %>

<% if @songs.empty? %>
  <div class="content">
    No more songs found!
  </div>
<% end %>
