<p>Now playing: '<%= @song %>'</p>

<% if @page %>
  <a href="?page=<%= @page - 1 %>">Previous</a>
  <a href="?page=<%= @page + 1 %>">Next</a>
<% end %>

<% @songs.each do |song| %>
  <div class="song">
    <span class="controls">
      <% if queue[song['id']] %>
      <a href="/remove/<%= song['id'] %>" title="remove from queue">-</a>
      <% else %>
      <a href="/add/<%= song['id'] %>" title="add to queue">+</a>
      <% end %>
    </span>

    <span class="artist">
      <a href="/artist/{{artist_name}}"><%= song['artist'] %></a>
    </span>

    <span class="title">
      <a href="/song/{{id}}"><%= song['title'] %></a>
    </span>
    <span class="album">
      <a href="/artist/{{artist_name}}/album/{{album_name}}"><%= song['album'] %></a>
    </span>
  </div>
<% end %>

<% if @page %>
  <a href="?page=<%= @page - 1 %>">Previous</a>
  <a href="?page=<%= @page + 1 %>">Next</a>
<% end %>

<% if @songs.empty? %>
  <div class="content">
    The queue is empty. Quick, play some <a href="/artist/Ace+of+Base">Ace of Base</a>; no one's looking.
  </div>
<% end %>
