<h3>Now playing: '<%= @song %>'</h3>

<% if @page %>
  <a href="?page=<%= @page - 1 %>">Previous</a>
  <a href="?page=<%= @page + 1 %>">Next</a>
<% end %>

<% @songs.each do |song| %>
  <div class="song">
    <span class="controls">
      <% if queue[song['id']] %>
      <a href="/remove/<%= song['id'] %>" title="remove from queue">-</a>
      <% else %>
      <a href="/add/<%= song['id'] %>" title="add to queue">+</a>
      <% end %>
    </span>

    <span class="artist"><%= song['artist'] %></span>
    <span class="title"><%= song['title'] %></span>
    <span class="album"><%= song['album'] %></span>
  </div>
<% end %>

<% if @songs.empty? %>
  <div class="content">
    The queue is empty. Quick, play some <a href="/artist/Ace+of+Base">Ace of Base</a>; no one's looking.
  </div>
<% end %>

<% if @page %>
  <a href="?page=<%= @page - 1 %>">Previous</a>
  <a href="?page=<%= @page + 1 %>">Next</a>
<% end %>

